{% extends 'base.html'%}
{% load staticfiles %}

    {% block title %}
    <title> 自动化运维平台 </title>
    {% endblock %}


    {% block css %}
    
    {% endblock %}



        {% block page-content %}
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            {% block page-title %}
            <div class="page-title">
              <div class="title_left">
                
              </div>
            </div>
            {% endblock %}

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                 
                  	<h3>Vcenter</h3>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
          					<p>
          						 <form action="{% url 'installation:add_vm' %}" method="post">
                       	{% csrf_token %}
                        <p>
                          VM_NAME:<input type="text" name="vm_name" required="required">
                        </p>
                        <p>
                          VM_CPUs:<input type="text" name="vm_cpus">
                        </p>
                        <p>
                          vm_cpu_sockets:<input type="text" name="vm_cpu_sockets">
                        </p>
                        <p>
                          VM_MEMORY:<input type="text" name="vm_memory">
                        </p>
                        <p>
                          Power_on:
                          <select name="power">
                            <option value ="1">On</option>
                            <option value ="0">Off</option>
                          </select>
                        </p>
                        <p>
                          Template:
                          <select name="template">
                            <option value ="-1">--请选择--</option>
                            {% for template in templates %}
                              <option value ="{{template.name}}">{{template.name}}</option>
                            {% endfor %}
                          </select>
                        </p>
                        <p>
                          Vcenter:
                          <select name="vcenter" id='vc' onchange="get_obj('vc','dc')">
                            <option value ="-1">--请选择--</option>
                            {% for vcenter in vcenters %}
                              <option value ="{{vcenter.name}}">{{vcenter.name}}</option>
                            {% endfor %}
                          </select>
                        </p>
                        <p>
                          Datacenter:
                          <select name="datacenter" id='dc' onchange="get_obj('dc','cluster')">
                            <option value ="-1">--请选择--</option>
                            <!-- {% for datacenter in datacenters %}
                              <option value ="{{datacenter.name}}">{{datacenter.name}}</option>
                            {% endfor %} -->
                          </select>
                        </p>
                        <p>
                          Cluster:
                          <select name="cluster" id='cluster' onchange="get_obj('cluster','esxi')">
                            <option value ="-1">--请选择--</option>
                            <!-- {% for cluster in clusters %}
                              <option value ="{{cluster.name}}">{{cluster.name}}</option>
                            {% endfor %} -->
                          </select>
                        </p>
<!--                         <p>
                          Esxi主机:
                          <select name="esxi" id='esxi'>
                            <option value ="-1">请选择</option>
                            {% for host in hosts %}
                                <option value ="{{host.ip}}">{{host.ip}}</option>
                            {% endfor %}
                          </select>
                        </p> -->
                        <p>
                          Datastore:
                          <select name="datastore" id='ds'>
                            <option value ="-1">--请选择--</option>
                            <!-- {% for datastore in datastores %}
                              <option value ="{{datastore.name}}">{{datastore.name}}</option>
                            {% endfor %} -->
                          </select>
                        </p>                                                                       	
                       	<button type="submit">提交</button>
                       </form>						
          					</p>
                  </div>
                </div>
              </div>
            </div>
            </div>
        </div>
        <!-- /page content -->
        {% endblock %}


    {% block js %}
    <script type="text/javascript">
    function get_obj(this_id,next_id){
      var val=$("#"+this_id).val();
      $("#"+next_id).empty();
      if(val!="-1"){
        $.ajax({
          type:"GET",
          url:'/installation/vm/get_obj',
          data:{'type':this_id,'val':val},
          dataType:"Json",
          async : false, 
          success:function(result){
             $("#"+next_id).append("<option value = '" + '-1'  + "'>" + '--请选择--' + "</option>");
             $.each(result,function(key,value)
                {
                  $("#"+next_id).append("<option value = '" + key  + "'>" + value + "</option>");
                }
             );
             if (this_id == 'vc'){
                $("#ds").empty();
                $.ajax({
                    type:"GET",
                    url:'/installation/vm/get_obj',
                    data:{'type':'ds','val':val},
                    dataType:"Json",
                    async : false, 
                    success:function(result){
                       $("#ds").append("<option value = '" + '-1'  + "'>" + '--请选择--' + "</option>");
                       $.each(result,function(key,value)
                          {
                            $("#ds").append("<option value = '" + key  + "'>" + value + "</option>");
                          }
                       );
                    }
                });
             }
          }
        });
      };
    }
    </script>
    
    {% endblock %}
