{% extends 'base.html'%}
{% load staticfiles %}

    {% block title %}
    <title> 自动化运维平台 </title>
    {% endblock %}


    {% block css %}
    
    {% endblock %}


        {% block page-content %}
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            {% block page-title %}
            <div class="page-title">
              <div class="title_left">
                
              </div>
            </div>
            {% endblock %}

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                 
                  	<h3>更新安装服务器配置</h3>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
					<p>
						 <form action="{% url 'installation:edit_cobbler' cobbler.id %}" method="post">
	                     	{% csrf_token %}
	                     	<p>
	                     	ip:<input type="text" name="ip" required="required" value="{{cobbler.ip}}">	
	                     	</p>
	                     	<p>
	                     	user:<input type="text" name="user" required="required" value="{{cobbler.user}}">
	                     	</p>
	                     	<p>
	                     	password:<input type="password" name="password" required="required" value="{{cobbler.password}}">	
	                     	</p>
	                     	<button type="submit">提交</button>
	                     </form>						
					</p>


					<!-- <a href="{% url 'installation:add_vcenter' %}">添加Vcenter</a> -->
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
        {% endblock %}
