{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
<title> 物理机安装 | 自动化运维平台 </title>
{% endblock %}

</style>

{% block css %}
    <!-- iCheck -->
    <link href="{%static 'vendors/iCheck/skins/flat/green.css'%}" rel="stylesheet">
     <!-- Datatables -->
    <link href="{%static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css'%}" rel="stylesheet">

    <link href="{%static 'vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css'%}" rel="stylesheet">

{% endblock %}


<div class="clearfix"></div>

{% block page-content %}
        <div class="right_col" role="main">
          <div class="row">
            <div class="page-title">
              <div class="title_left">
                <h4>装机管理 <small>物理机初始化</small></h4>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
	                <div class="x_panel">
	                  <div class="x_content">
	                    <table id="example" class="table table-striped table-bordered">
	                      <thead>
	                        <tr>
	                          <th>序列号</th>
	                          <th>IP地址</th>
	                          <th>制造商</th>
	                          <th>型号</th>
	                          <th>创建时间</th>
	                          <th>操作</th>
	                          <th>电源</th>
	                        </tr>
	                      </thead>
	                      
	                      <tbody>
	                      {% for server in servers %}
	                        <tr>
	                          <td onclick="detail('服务器详细信息','{{server.id}}','880px','650px','/installation/server/','')">{{server.id}}</td>
	                          <td>{{server.pxe_ip}}</td>
	                          <td>{{server.vendor}}</td>
	                          <td>{{server.model}}</td>
	                          <td>{{server.create_time | date:'Y-m-d H:m:s'}}</td>
	                          <td>
	                          	<div class="btn-group">
			                      <button type="button" class="btn btn-info btn-xs" >操作</button>
			                      <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			                        <span class="caret"></span>
			                        <span class="sr-only">Toggle Dropdown</span>
			                      </button>
			                      <ul class="dropdown-menu" role="menu" style="min-width: 60px;width: 47px;">
			                        <li><a onclick="detail('服务器RAID信息','{{server.id}}','800px','600px','/installation/server/raid/','/raid_status')" style="padding-left: 5px;">RAID</a>
			                        </li>
			                        <li><a onclick="config_sys('装机','{{server.id}}','800px','600px','/installation/server/install/','')" style="padding-left: 5px;">配置系统</a>
			                        </li>
			                        <!-- <li><a onclick="detail('IPMI','{{server.id}}','800px','350px','/installation/server/ipmi/','/chassis_status')" style="padding-left: 5px;">IPMI</a>
			                        </li> -->
			                         <!-- <li><a href="{% url 'installation:server_delete' server.id %}">删除</a></li> -->
			                        <li><a onclick="confirm('{{server.id}}')" style="padding-left: 5px;">删除</a>
			                        </li>
			                        <!-- <li><a onclick="detail('服务器状态变更','{{server.id}}','400px','220px','/installation/server/status/','')" style="padding-left: 5px;">变更状态</a>
			                        </li> -->
			                      </ul>
			                    </div>
			         		  </td>
			         		  <td>
	                            <a onclick="power('开机','chassis_on','{{server.id}}','{{server.ipmi_user}}','{{server.ipmi_pass}}')" class="btn btn-primary btn-xs"><i class="fa fa-play" data-toggle="tooltip" data-placement="top" title="" data-original-title="开机"></i></a>
	                            <a onclick="power('关机','chassis_off','{{server.id}}','{{server.ipmi_user}}','{{server.ipmi_pass}}')" class="btn btn-danger btn-xs"><i class="fa fa-stop" data-toggle="tooltip" data-placement="top" title="" data-original-title="关机"></i></a>
			         		  </td>
	                        </tr>
	                      {% endfor %}
	                      </tbody>
	                    </table>
	                  </div>
	                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}


{% block js %}
    <!-- iCheck -->
    <script src="{%static 'vendors/iCheck/icheck.min.js'%}"></script>
    <!-- Datatables -->
    <script src="{%static 'vendors/datatables.net/js/jquery.dataTables.min.js'%}"></script>
    <script src="{%static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js'%}"></script>
    <script src="{%static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
    <script src="{%static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js'%}"></script>
    <script src="{%static 'vendors/datatables.net-buttons/js/buttons.flash.min.js'%}"></script>
    <script src="{%static 'vendors/datatables.net-buttons/js/buttons.html5.min.js'%}"></script>
    <script src="{%static 'vendors/datatables.net-buttons/js/buttons.print.min.js'%}"></script>
    <script src="{%static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js'%}"></script>
    <script src="{%static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js'%}"></script>
    <script src="{%static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js'%}"></script>
    <script src="{%static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js'%}"></script>
    <script src="{%static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js'%}"></script>
    <script src="{%static 'vendors/jszip/dist/jszip.min.js'%}"></script>
    <script src="{%static 'vendors/pdfmake/build/pdfmake.min.js'%}"></script>
    <script src="{%static 'vendors/pdfmake/build/vfs_fonts.js'%}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{%static 'vendors/bootstrap-progressbar/bootstrap-progressbar.min.js'%}"></script>
    <script type="text/javascript">
			$(document).ready(function() {
			    $('#example').dataTable(
			    {
			        "bJQueryUI" : true,
			        // "sScrollY" : 390, //DataTables的高  
            		// "sScrollX" : 1500, //DataTables的宽
			        // "bAutoWidth" : true
			    });
			} );

			function detail(title,sn,width,height,url,fun){
				  layer.open({
				  type: 2,
				  title: title,
				  maxmin: true,
				  // shadeClose: true, //点击遮罩关闭层
				  area : [ width,height],
				  content: url + sn + fun
				  });
			}

			function config_sys(title,sn,width,height,url,fun){
				  layer.open({
				  type: 2,
				  title: title,
				  maxmin: true,
				  // shadeClose: true, //点击遮罩关闭层
				  area : [ width,height],
				  content: url + sn + fun,
				  end: function () {
	 	            	location.reload();//刷新
	 	            }
				  });
			}

			function power(name,type,server_id,ipmi_user,ipmi_passwd){
				alert(ipmi_user);
				if ( ipmi_user=='' || ipmi_passwd=='' || ipmi_user=='None' || ipmi_passwd =='None' )
					{
						detail('IPMI账号配置',server_id,'400px','300px','/installation/server/ipmi/','')
					}
				else
					{
						layer.confirm('请确认是否要'+name, function(index){
			                window.location.href = "/installation/server/ipmi/" + server_id + '/' + type
			            	layer.close(index);
			            });       
					}
		     }

	      	function confirm(server_id){
	        	layer.confirm('请确认是否要删除', function(index){
            	window.location.href = "/installation/server/delete/"+server_id;
            	layer.close(index);
            	});         
	      	}
    </script>
  
{% endblock %}
